---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import defaultCover from "@/assets/posts/defaultCover.jpg";
import Container from "@/components/primitives/Container.astro";
import Link from "@/components/primitives/Link.astro";
import Prose from "@/components/primitives/Prose.astro";
import Title from "@/components/primitives/Title.astro";
import Share from "@/components/sections/Share.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = {
	frontmatter: CollectionEntry<"posts">;
};

const { frontmatter } = Astro.props;
---

<BaseLayout>
	<section class="py-32 md:py-56">
		<Container>
			<div class="text-center">
				{
					"author" in frontmatter.data && frontmatter?.data?.author && "pubDate" in frontmatter.data && frontmatter?.data?.pubDate && (
						<div class="inline-flex items-center gap-4 pb-4 lg:pb-6">
							<span class="text-xs font-semibold uppercase tracking-wide text-black">
								<span>Scritto da: {frontmatter.data?.author} nel</span>
								{frontmatter.data?.pubDate?.toString().slice(0, 10)}
							</span>
						</div>
					)
				}

				<Title level={1}>{frontmatter.data.title}</Title>
				<p class="mx-auto max-w-2xl pt-8 text-base text-slate-500">
					<em>{frontmatter.data?.description}</em>
				</p>
			</div>
			<div class="flex w-full flex-col items-center justify-center pt-12">
				<div class="flex flex-wrap justify-center gap-3">
					{
						"tags" in frontmatter.data &&
							frontmatter.data?.tags?.map((tag: unknown) => (
								<li class="list-none">
									<Link href={`/tags/${tag}`} size="md" style="outline">
										{tag}
									</Link>
								</li>
							))
					}
				</div>
				{
					"cover" in frontmatter.data && frontmatter.data?.cover && (
						<Image
							class="mt-12 w-full rounded-4xl lg:w-auto lg:min-w-[50rem] lg:rounded-5xl"
							src={frontmatter.data?.cover ?? defaultCover}
							alt={`Cover image for ${frontmatter.data?.title}`}
						/>
					)
				}
				<Prose><slot /></Prose>
				<div class="mx-auto w-full max-w-3xl pt-20">
					<Share />
				</div>
			</div>
		</Container>
	</section>
</BaseLayout>
